<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{../css/layui.css}"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"/>
    <meta charset="UTF-8"/>
    <title>后台首页</title>
</head>
<body>
<!--<div style="height: 60px; background-color: #393D49">-->
    <!--<ul class="layui-nav layui-layout-right">-->
        <!--<li class="layui-nav-item">-->
            <!--<a th:href="@{/}">首页</a>-->
        <!--</li>-->
        <!--<li class="layui-nav-item">-->
            <!--<a href="">控制台<span class="layui-badge">9</span></a>-->
        <!--</li>-->
        <!--<li class="layui-nav-item">-->
            <!--<a href="">个人中心<span class="layui-badge-dot"></span></a>-->
        <!--</li>-->
        <!--<li class="layui-nav-item">-->
            <!--<a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>我</a>-->
            <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="javascript:;">修改信息</a></dd>-->
                <!--<dd><a href="javascript:;">安全管理</a></dd>-->
                <!--<dd><a href="javascript:;">退出</a></dd>-->
            <!--</dl>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<!--<div>-->
    <!--<div id="leftbar" class="layui-side-scroll">-->
        <!--<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo">-->
            <!--<li class="layui-nav-item layui-nav-itemed">-->
                <!--<a href="javascript:;">默认展开</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="javascript:;">选项一</a></dd>-->
                    <!--<dd><a href="javascript:;">选项二</a></dd>-->
                    <!--<dd><a href="javascript:;">选项三</a></dd>-->
                    <!--<dd><a href="">跳转项</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">解决方案</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">移动模块</a></dd>-->
                    <!--<dd><a href="">后台模版</a></dd>-->
                    <!--<dd><a href="">电商平台</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
            <!--<li class="layui-nav-item"><a href="">云市场</a></li>-->
            <!--<li class="layui-nav-item"><a href="">社区</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div id="content-body" style="float: left;">-->
        <!--<button>sdfds</button>-->
    <!--</div>-->
<!--</div>-->

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: #1E9FFF;font-size: 17px;">Myth毕业设计管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>

            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                    <dd><a href="teacher">教师</a></dd>
                    <dd><a href="student">学生</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <!--<span class="layui-badge-dot"></span>-->
                <span class="layui-badge">9</span>
                <!--若点击进入所有信息的面板，悬浮则是阅读消息-->
                <a href="">&nbsp;&nbsp;消息
                    <dl class="layui-nav-child">

                        <dd><a href="">你提交的开题报告文档已经被导师审阅并回复了快去查看吧 &nbsp;&nbsp;2017-09-19 19:12:06</a></dd>
                        <dd><a href="">提示1</a></dd>
                        <dd><a href="">提示2</a></dd>
                    </dl>
                    <!--<span class="layui-badge">9</span>-->
                </a>
                <!--消息只是提示，最多负责跳转，编辑就是在单个页面上-->
            </li>

        </ul>
        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">

                <a href="javascript:;">

                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>
                    我
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="logout/admin">注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">用户列表</a></dd>
                        <dd><a href="javascript:;">删除的用户</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">商户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">商户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">分类管理</a></dd>
                        <dd><a href="javascript:;">商品列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">发布公告</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->

        <iframe runat="server" src="/admin/users/1" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes">
            <div style="padding: 15px;">内容主体区域</div>
            <div><h1>您好<span id="user"></span>这是你第 <span></span> 次登录</h1></div>
        </iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../layui.all.js"></script>
</body>
</html>