<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{../css/layui.css}"/>
    <script src="../js/jquery.min.js"/>
    <meta charset="UTF-8"/>
    <script src="../layui.all.js"></script>
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center;">用户信息</h1>
<table id="userlist" lay-filter="test"></table>
<script type="text/html" id="toolBar">
       <a class="layui-btn layui-btn-primary" lay-event="detail">查看</a>
       <a class="layui-btn" lay-event="edit">编辑</a>
       <a class="layui-btn layui-btn-danger" lay-event="del">删除</a>
</script>
<script src="../js/common/users.js"></script>
<div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
    <input type="text" class="layui-input" id="test1" />
</div>

<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
</script>
<script type="text/javascript" src="../js/common/users.js"></script>
</body>
</html>