<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{../css/layui.css}"/>
    <script src="../js/jquery.min.js"/>
    <meta charset="UTF-8"/>
    <script src="../layui.all.js"></script>
    <title>Title</title>
</head>
<body>
<!--<table class="layui-table">-->
    <!--<colgroup>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
    <!--</colgroup>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>用户 ID</th>-->
        <!--<th>账号</th>-->
        <!--<th>密码</th>-->
        <!--<th>手机号</th>-->
        <!--<th>邮箱</th>-->
        <!--<th>权限</th>-->
        <!--<th>创建时间</th>-->
        <!--<th>上次登录时间</th>-->
        <!--<th>头像</th>-->
        <!--<th>状态</th>-->
        <!--<th>操作</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody id="userList">-->
    <!--<script>-->
        <!--/*<![CDATA[*/-->
        <!--function delUser(uid) {-->
            <!--var msg = "您真的确定要删除吗？";-->
            <!--if (confirm(msg)==true){-->
                <!--var xmlhttp;-->
                <!--if (window.XMLHttpRequest)-->
                <!--{// code for IE7+, Firefox, Chrome, Opera, Safari-->
                    <!--xmlhttp=new XMLHttpRequest();-->
                <!--}-->
                <!--else-->
                <!--{// code for IE6, IE5-->
                    <!--xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");-->
                <!--}-->
                <!--xmlhttp.onreadystatechange=function()-->
                <!--{-->
                    <!--if (xmlhttp.status==200)-->
                    <!--{-->
                        <!--alert(xmlhttp.responseText);-->
                    <!--}-->
                <!--}-->
                <!--xmlhttp.open("GET","/admin/users/del/" + uid,true);-->
                <!--xmlhttp.send();-->
                <!--return true;-->
            <!--}else{-->
                <!--return false;-->
            <!--}-->
            <!--location.reload();-->
        <!--}-->
        <!--function editUser(uid) {-->

        <!--}-->
        <!--result = '';-->
        <!--$.get("/admin/users/userList", function(data){-->
            <!--data.forEach(function (value) {-->
                <!--result = result + "<tr><td>" + value.uid + "</td>"-->
                    <!--+ "<td>" + value.account + "</td>"-->
                    <!--+ "<td>" + value.password + "</td>"-->
                    <!--+ "<td>" + value.phoneNumber + "</td>"-->
                    <!--+ "<td>" + value.email + "</td>"-->
                    <!--+ "<td>" + value.permission + "</td>"-->
                    <!--+ "<td>" + value.lastLogin + "</td>"-->
                    <!--+ "<td>" + value.createDate + "</td>"-->
                    <!--+ "<td>" + value.headPhoto + "</td>"-->
                    <!--+ "<td>" + value.status + "</td>"-->
                    <!--+ "<td>" + "<a href='javascript:void(0)' onclick=\"editUser(" + value.uid + ")\">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;" +-->
                    <!--"<a href='javascript:void(0)' onclick=\"delUser(" + value.uid + ")\">删除</a></td></tr>";-->
            <!--})-->
            <!--$("#userList").append(result);-->
        <!--});-->
        <!--$("body").bind("keydown",function(event){-->
            <!--if (event.keyCode == 116) {-->
                <!--event.preventDefault(); //阻止默认刷新-->
                <!--//location.reload();-->
                <!--//采用location.reload()在火狐下可能会有问题，火狐会保留上一次链接-->
                <!--location=location;-->
            <!--}-->
        <!--})-->
        <!--/*]]>*/-->
    <!--</script>-->

    <!--</tbody>-->
    <!--<colgroup>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
        <!--<col/>-->
    <!--</colgroup>-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--&lt;!&ndash;<th><button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button></th>&ndash;&gt;-->
        <!--<th><a href="/admin/users/add">添加用户</a></th>-->
    <!--</tr>-->
    <!--</thead>-->
<!--</table>-->


<table id="demo" lay-filter="test"></table>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 315
            ,limit: 10
            ,url: '/all' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'uid', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'account', title: '用户名', width:80}
                ,{field: 'password', title: '性别', width:80, sort: true}
                ,{field: 'phoneNumber', title: '城市', width:80}
                ,{field: 'email', title: '签名', width: 177}
                ,{field: 'permission', title: '积分', width: 80, sort: true}
                ,{field: 'createDate', title: '评分', width: 80, sort: true}
                ,{field: 'lastLogin', title: '职业', width: 80}
                ,{field: 'status', title: '财富', width: 135, sort: true}
            ]]
            ,request: {
                pageName: 'page' //页码的参数名称，默认：page
                ,limitName: 'limit' //每页数据量的参数名，默认：limit
            }
        });
        console.log("safd");
    });
</script>
</body>
</html>