<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <script src="/jquery.min.js"></script>
    <meta charset="UTF-8"/>
    <title>乌云后台登录</title>
    <!-- Custom Theme files -->
    <link href="/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="后台登录" />

</head>
<body>
<a href="javascript:(0)" id="doLogin">登录</a>

<div class="login-form">
    <div class="top-login">
        <span><img src="images/group.png" alt=""/></span>
    </div>
    <h1>登录</h1>
    <div class="login-top">
        <form>
            <div class="login-ic">
                <i ></i>
                <input type="text"  value="用户" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'User name';}"/>
                <div class="clear"> </div>
            </div>
            <div class="login-ic">
                <i class="icon"></i>
                <input type="password"  value="密码" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'password';}"/>
                <div class="clear"> </div>
            </div>

            <div class="log-bwn">
                <input type="submit"  value="Login" />
            </div>
        </form>
    </div>
    <p class="copy">© 2016 xxxxxxxxxxx</p>
</div>

<script>
    $(function () {
        $('#doLogin').on('click', function () {
            window.location.href = '/login?redirect=' + window.location.href;
        });
    });
</script>
</body>
</html>