<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackfing.admin.mapper.ProductTypeMapper">

    <select id="selectAllRoot" resultType="com.stackfing.pojo.ProductType">
        SELECT id, avaliable, name, parent, isRoot FROM product_type WHERE isRoot = 1
    </select>

    <select id="selectAllChildrenByParentId" resultType="com.stackfing.pojo.ProductType">
        SELECT id, avaliable, name, parent, isRoot FROM product_type WHERE parent = #{id}
    </select>

    <select id="selectTypeById" resultType="com.stackfing.pojo.ProductType">
        SELECT id, avaliable, name, parent, isRoot FROM product_type WHERE id = #{id}
    </select>

    <update id="updateType" parameterType="com.stackfing.pojo.ProductType">
        UPDATE product_type SET avaliable = #{avaliable}, name = #{name}, isRoot = #{isRoot} WHERE id = #{id}
    </update>
</mapper>
