<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackfing.handgo.admin.mapper.ProductTypeMapper">

    <select id="selectAllRoot" resultType="com.stackfing.handgo.admin.entity.ProductType">
        SELECT id, pId, name, parent, myparent FROM product_type WHERE parent IS NULL
    </select>

    <select id="selectAllChildrenByParentId" resultType="com.stackfing.handgo.admin.entity.ProductType">
        SELECT id, pId, name, parent FROM product_type WHERE parent = #{id}
    </select>

    <select id="selectTypeById" resultType="com.stackfing.handgo.admin.entity.ProductType">
        SELECT id, pId, name, parent FROM product_type WHERE id = #{id}
    </select>
</mapper>
