<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" />
<head>
    <link rel="stylesheet" type="text/css" href="css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="layui.all.js"></script>
    <meta charset="UTF-8" />
    <title>首页</title>
    <style>
        @media screen and (max-width: 1000px) {
            body {
                background-color:black;
            }
        }
    </style>
</head>
<body>

<ul class="layui-nav" style="background-color: #5FB878">
    <li class="layui-nav-item"><a href="/">首页</a></li>
    <li class="layui-nav-item layui-this"><a href="">产品</a></li>
    <li class="layui-nav-item layui-this"><a href="http://localhost:8889/login">登录</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <!--<li class="layui-nav-item"><a href="">社区</a></li>-->
    <li class="layui-nav-item"><a href="/admin">后台</a></li>
</ul>

<h1>后台开发中...前台暂时无法使用...</h1>
<a href="/admin">点击进入后台</a>
<!--<div style="float: left; margin-left: 100px">-->
    <!--<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demos" style="margin-right: 10px;">-->
        <!--<li class="layui-nav-item layui-nav-itemed">-->
            <!--<a href="javascript:;">默认展开</a>-->
            <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="javascript:;">选项一</a></dd>-->
                <!--<dd><a href="javascript:;">选项二</a></dd>-->
                <!--<dd><a href="javascript:;">选项三</a></dd>-->
                <!--<dd><a href="">跳转项</a></dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li class="layui-nav-item">-->
            <!--<a href="javascript:;">解决方案</a>-->
            <!--<dl class="layui-nav-child">-->
                <!--<dd><a href="">移动模块</a></dd>-->
                <!--<dd><a href="">后台模版</a></dd>-->
                <!--<dd><a href="">电商平台</a></dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li class="layui-nav-item"><a href="">云市场</a></li>-->
        <!--<li class="layui-nav-item"><a href="">社区</a></li>-->
    <!--</ul>-->
<!--</div>-->

<!--<div id="head">-->
    <!--<div id="topbar">-->
        <!--<ul>-->
            <!--<li><a href="#">测试</a> </li>-->
            <!--<li>sd</li>-->
            <!--<li>sd</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->



</body>
</html>
