body{
    list-style: none;
}

#topbar {
    width: 1200px;
    background-color: #F8F8F8;
    height: 30px;
}

#topbar>ul li {
    float: left;
}

@media screen and (max-width: 1000px) {
    body {
        background-color:black;
    }
}