<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stackfing.handgo.mapper.UserMapper">

    <!--根据id查用户-->
    <select id="selectUserById" resultType="com.stackfing.handgo.entity.User">
        SELECT user.uid
         ,user.account
         ,user.password
         ,user.email
         ,user.createDate
         ,user.headPhoto
         ,user.lastLogin
         ,user.permission
         ,user.phoneNumber
         ,user.status
          FROM user WHERE uid = #{uid}
    </select>

    <!--根据账号名查用户-->
    <select id="selectUserByAccount" resultType="com.stackfing.handgo.entity.User">
      SELECT user.uid
         ,user.account
         ,user.password
         ,user.email
         ,user.createDate
         ,user.headPhoto
         ,user.lastLogin
         ,user.permission
         ,user.phoneNumber
         ,user.status FROM user WHERE account = #{account}
    </select>

    <!--获得所有用户-->
    <select id="findAll" resultType="com.stackfing.handgo.entity.User">
        SELECT user.uid
         ,user.account
         ,user.password
         ,user.email
         ,user.createDate
         ,user.headPhoto
         ,user.lastLogin
         ,user.permission
         ,user.phoneNumber
         ,user.status FROM handgo.user
    </select>

    <!--根据id删除用户-->
    <delete id="deleteUserById" parameterType="long">
        DELETE FROM handgo.user WHERE uid = #{uid}
    </delete>

    <insert id="insertUser" parameterType="com.stackfing.handgo.entity.User">
        INSERT INTO user(uid, account, createDate, email, headPhoto, lastLogin, password, permission, phoneNumber, status) VALUES (#{uid},#{account},#{createDate},#{email},#{headPhoto},#lastLogin},#{password},#{permission},#{phoneNumber},#{status})
    </insert>

    <!--分页查询用户-->
    <select id="findAllUserByPage" resultType="com.stackfing.handgo.entity.User">
        SELECT user.uid
         ,user.account
         ,user.password
         ,user.email
         ,user.createDate
         ,user.headPhoto
         ,user.lastLogin
         ,user.permission
         ,user.phoneNumber
         ,user.status FROM handgo.user LIMIT #{offSize},#{length}
    </select>
    
</mapper>
