<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" href="../css/layui.css"/>

    <script src="../js/jquery.min.js"/>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: #1E9FFF;font-size: 20px;"><a href="javascript:;" class="logo" style="color: white;">后台管理系统</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="">控制台<span class="layui-badge-dot layui-bg-red"></span></a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <!--<span class="layui-badge-dot"></span>-->
                <span class="layui-badge">6</span>
                <!--若点击进入所有信息的面板，悬浮则是阅读消息-->
                <a href="">&nbsp;&nbsp;消息
                    <dl class="layui-nav-child">

                        <dd><a href="">提示0</a></dd>
                        <dd><a href="">提示1</a></dd>
                        <dd><a href="">提示2</a></dd>
                    </dl>
                    <!--<span class="layui-badge">9</span>-->
                </a>
                <!--消息只是提示，最多负责跳转，编辑就是在单个页面上-->
            </li>

        </ul>
        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">

                <a href="javascript:;">
                    <img src="/happy.jpg" class="layui-nav-img"/>
                    我
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="admin/logout">注销登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="toURL('userlist')">用户列表</a></dd>
                        <!--<dd><a href="javascript:;" data-url="/admin/users/allDelUser">删除的用户</a></dd>-->
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">商户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">商户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="toURL('types')">分类管理</a></dd>
                        <dd><a href="javascript:;">商品列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:void(0)" onclick="toURL('settings')">系统管理</a></li>

                <li class="layui-nav-item"><a href="">发布公告</a></li>
            </ul>
        </div>
    </div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe runat="server" id="contentbody" src="/admin/welcome" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes">
            <div style="padding: 15px;">内容主体区域</div>
            <!--<div><h1>您好<span id="user"></span>这是你第 <span></span> 次登录</h1></div>-->
            <!--<div id="servers">asd</div>-->
        </iframe>
    </div>

    <script>
        /*<![CDATA[*/
        function toURL(url) {
            if (url === 'userlist') {
                $('iframe').attr('src', '/admin/userlist');
            }
            if (url == 'settings') {
                $('iframe').attr('src', '/admin/settings');
            }
            if (url === 'types') {
                $('iframe').attr('src', '/admin/types/types');
            }
        }

        // $(".layui-nav-item").children("a").click(function(e){
        //     alert($(this).attr("data-url"));
        // });
        $("dd").children().click(function () {
            $('iframe').attr('src', $(this).attr('data-url'));
        });
        /*]]>*/
    </script>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <p>© <a href="http://stackfing.com">stackfing.com</a> - Layui 强力驱动</p>
    </div>
</div>
<script src="../layui.all.js"></script>
</body>
</html>
