<!DOCTYPE html>
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layui.css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/layui.all.js"></script>

    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <#--<li class="layui-nav-item">-->
            <#--<a href="javascript:;">-->
                <#--<img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->
                <#--贤心-->
                <#--<span class="layui-nav-more"></span></a>-->
            <#--<dl class="layui-nav-child">-->
                <#--<dd><a href="">基本资料</a></dd>-->
                <#--<dd><a href="">安全设置</a></dd>-->
                <#--</dl>-->
            <#--</li>-->
            <li class="layui-nav-item"><a href="">退了</a></li>
            <span class="layui-nav-bar" style="left: 131.891px; top: 55px; width: 0px; opacity: 0;"></span></ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd data-url="http://localhost:8888"><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
                <span class="layui-nav-bar"></span></ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-row" style="height: 96%;">
            <#--<a href="javascript:;" data-url="http://localhost:8888">点击我</a>-->
            <div class="layui-tab layui-tab-card"" lay-allowClose="true" lay-filter="test1" style="height: 100%;">
            <ul class="layui-tab-title">
                <#--<li class="layui-this" lay-id="1">网站设置</li>-->
                <#--<li lay-id="2">用户基本管理</li>-->
                <#--<li lay-id="3">权限分配</li>-->
                <#--<li lay-id="4">全部历史商品管理文字长一点试试</li>-->
                <#--<li lay-id="5">订单管理</li>-->
            </ul>
            <div class="layui-tab-content" style="padding: 0;">
                <#--<div class="layui-tab-item layui-show">1</div>-->
                <#--<div class="layui-tab-item">2</div>-->
                <#--<div class="layui-tab-item">3</div>-->
                <#--<div class="layui-tab-item">4</div>-->
                <#--<div class="layui-tab-item">5</div>-->
            </div>
        </div>
        <script src="/js/layui.all.js"></script>
        <script>
            $("dd").on('click', function () {
                var url = $(this).attr('data-url');
                var element = layui.element;
                var content = '<iframe src=' + url + ' class="layui-col-md12" scrolling="no" frameborder="0" height="1000"></iframe>'
                element.tabAdd('test1', {
                    title: '选项卡的标题'
                    , content: content //支持传入html
                    , id: '1'
                });
            });
            layui.use('element', function () {
                var element = layui.element;

                //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
                var layid = location.hash.replace(/^#test1=/, '');
                element.tabChange('test1', layid); //假设当前地址为：http://a.com#test1=222，那么选项卡会自动切换到“发送消息”这一项

                //监听Tab切换，以改变地址hash值
                element.on('tab(test1)', function () {
                    location.hash = 'test1=' + this.getAttribute('lay-id');
                });

            });
        </script>
    </div>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
</div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
        element.on('nav(test)', function(data){
            //添加标签
        });
    });

</script>
</body>















<#--<body class="layui-layout-body">-->
<#--<div class="layui-layout layui-layout-admin layui-col-md12">-->
    <#--<div class="layui-header">-->
        <#--<div class="layui-logo">layui 后台布局</div>-->
        <#--<!-- 头部区域（可配合layui已有的水平导航） &ndash;&gt;-->
        <#--<ul class="layui-nav layui-layout-right">-->
            <#--<li class="layui-nav-item">-->
                <#--<a href="javascript:;">-->
                    <#--<img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->
                    <#--贤心-->
                    <#--<span class="layui-nav-more"></span></a>-->
                <#--<dl class="layui-nav-child layui-anim layui-anim-upbit">-->
                    <#--<dd><a href="">基本资料</a></dd>-->
                    <#--<dd><a href="">安全设置</a></dd>-->
                    <#--</dl>-->
                <#--</li>-->
            <#--<li class="layui-nav-item"><a href="">退了</a></li>-->
            <#--<span class="layui-nav-bar" style="left: 131.891px; top: 55px; width: 0px; opacity: 0;"></span></ul>-->
        <#--</div>-->

    <#--<div class="layui-side layui-bg-black">-->
        <#--<div class="layui-side-scroll">-->
            <#--<!-- 左侧导航区域（可配合layui已有的垂直导航） &ndash;&gt;-->
            <#--<ul class="layui-nav layui-nav-tree" lay-filter="test">-->
                <#--<li class="layui-nav-item layui-nav-itemed">-->
                    <#--<a class="" href="javascript:;">所有商品<span class="layui-nav-more"></span></a>-->
                    <#--<dl class="layui-nav-child">-->
                        <#--<dd><a href="javascript:;">列表一</a></dd>-->
                        <#--<dd><a href="javascript:;">列表二</a></dd>-->
                        <#--<dd><a href="javascript:;">列表三</a></dd>-->
                        <#--<dd><a href="">超链接</a></dd>-->
                        <#--</dl>-->
                    <#--</li>-->
                <#--<li class="layui-nav-item">-->
                    <#--<a href="javascript:;">解决方案<span class="layui-nav-more"></span></a>-->
                    <#--<dl class="layui-nav-child">-->
                        <#--<dd><a href="javascript:;">列表一</a></dd>-->
                        <#--<dd><a href="javascript:;">列表二</a></dd>-->
                        <#--<dd><a href="">超链接</a></dd>-->
                        <#--</dl>-->
                    <#--</li>-->
                <#--<li class="layui-nav-item"><a href="">云市场</a></li>-->
                <#--<li class="layui-nav-item"><a href="">发布商品</a></li>-->
                <#--<span class="layui-nav-bar"></span></ul>-->
            <#--</div>-->
        <#--</div>-->

    <#--<div class="layui-body">-->
        <#--<!-- 内容主体区域 &ndash;&gt;-->
        <#--<div style="padding: 15px;">-->
            <#--内容主体区域-->

            <#--<br><br>-->
            <#--<blockquote class="layui-elem-quote">-->
                <#--layui 之所以赢得如此多人的青睐，更多是在于它“前后台系统通吃”的能力。既可编织出绚丽的前台页面，又可满足繁杂的后台功能需求。-->
                <#--<br>layui 后台布局， 致力于让每一位开发者都能轻松搭建自己的后台模板。-->
                <#--</blockquote>-->

            <#--<a href="/doc/element/layout.html#admin" target="_blank" class="layui-btn layui-btn-big">获取该布局代码</a>-->

            <#--<br><br><br><br>-->




            <#--下面是充数内容，为的是出现滚动条<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>-->
            <#--</div>-->
        <#--</div>-->

    <#--<div class="layui-footer">-->
        <#--<!-- 底部固定区域 &ndash;&gt;-->
        <#--© layui.com - 底部固定区域-->
        <#--</div>-->
    <#--</div>-->
<#--&lt;#&ndash;<script>&ndash;&gt;-->
<#--&lt;#&ndash;//JavaScript代码区域&ndash;&gt;-->
<#--&lt;#&ndash;layui.use('element', function(){&ndash;&gt;-->
<#--&lt;#&ndash;var element = layui.element;&ndash;&gt;-->

<#--&lt;#&ndash;});&ndash;&gt;-->
<#--&lt;#&ndash;</script>&ndash;&gt;-->
<#--<script src="//res.layui.com/layui/src/layui.js?t=1515376178709" charset="utf-8"></script>-->






























<#--</body>-->
</html>