<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/layui.css"/>
    <script src="../../js/jquery.min.js"/>
    <script src="../../layui.all.js"></script>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body style="overflow-y: hidden;">

<div id="productlist"></div>

<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#productlist'
            , height: 'full-100'
            , limit: 20
            , url: '/admin/product/list' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'uid', title: 'ID', sort: true, fixed: 'left', align: 'center'}
                , {field: 'account', title: '用户名', align: 'center'}
                // , {field: 'password', title: '密码', sort: true, align: 'center'}
                , {field: 'phoneNumber', title: '手机号', align: 'center'}
                , {field: 'email', title: '邮箱', align: 'center'}
                , {field: 'permission', title: '权限', sort: true, align: 'center'}
                , {field: 'createDate', title: '创建时间', sort: true, align: 'center'}
                , {field: 'headPhoto', title: '头像', align: 'center', templet: '<div><img src="/happy.jpg"/></div>'}
                , {field: 'lastLogin', title: '上次登录时间', align: 'center'}
                , {field: 'status', title: '状态', sort: true, align: 'center'}
                , {title: '操作', toolbar: "#toolBar"}
            ]]
        });
    });

    layer.open({
        type: 2,
        title: 'layer mobile页',
        shadeClose: false,
        shade: 0.5,
        area: ['380px', '800px'],
        content: '/admin/users/edit', //iframe的url,
        success: function() {

        },
        end: function() {
            // layer.msg($("#th").attr('value'));
        }
    });
</script>
</body>
</html>