<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <meta charset="UTF-8"/>
    <title>系统设置</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/layui.css}"/>
    <script src="../js/jquery.min.js"/>
</head>
<body>
<div style="margin-top: 50px; width: 500px;">

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">输入框</label>
            <div class="layui-input-block">
                <!--<input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" />-->
                <input type="text" name="account" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" />
            </div>
            <div class="layui-form-mid layui-word-aux">辅助文字</div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">文本域</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <!--<script>-->
        <!--//Demo-->
        <!--layui.use('form', function(){-->
            <!--var form = layui.form;-->
            <!--//监听提交-->
            <!--form.on('submit(formDemo)', function(data){-->
                <!--layer.msg(JSON.stringify(data.field));-->
                <!--return false;-->
            <!--});-->
        <!--});-->
    <!--</script>-->

</div>
</body>
</html>