<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/layui.css"/>
    <script src="../../js/jquery.min.js"/>
    <script src="../../layui.all.js"></script>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
</head>
<body>
    <div id="demo" onclick=""></div>
    <script src="../../js/common/types.js"></script>
    <script>getTypes()</script>

    <!--<script>-->
        <!--layui.tree({-->
            <!--elem: '#demo'-->
            <!--,nodes: [{ //节点数据-->
                <!--name: '节点A'-->
                <!--,children: [{-->
                    <!--name: '节点A1'-->
                <!--}]-->
            <!--}, {-->
                <!--name: '节点B'-->
                <!--,children: [{-->
                    <!--name: '节点B1'-->
                    <!--,alias: 'bb' //可选-->
                    <!--,id: '123' //可选-->
                <!--}, {-->
                    <!--name: '节点B2'-->
                <!--}]-->
            <!--}]-->
            <!--,click: function(node){-->
                <!--console.log(node) //node即为当前点击的节点数据-->
            <!--}-->
        <!--});-->
    <!--</script>-->

</body>
</html>