<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/layui.css"/>
    <script src="../../js/jquery.min.js"/>
    <script src="../../layui.all.js"></script>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../css/demo.css" type="text/css" />
    <link rel="stylesheet" href="../../css/zTreeStyle/zTreeStyle.css" type="text/css" />
    <script type="text/javascript" src="../../js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.ztree.core.js"></script>
    <script src="../../js/handgo/types.js"></script>
    <style>
        input{
            display: block;
        }
    </style>
</head>
<body>
<div>
    <textarea id="demo" style="display: none;"></textarea>
    <div style="margin-left: 200px; margin-top: 200px; float: left;">
        <ul id="typeTree" class="ztree"></ul>
    </div>
    <div style="float: left;margin-top: 200px;margin-left: 100px;">
        <form id="types" class="layui-form layui-form-pane">
            <!--分类名称：<input type="text" class="layui-input" autocomplete="off" id="typeName" value=""/>-->
            <!--是否为父节点：<input type="text" id="isParent" value=""/>-->
            <!--是否启用：<input type="text" id="isClosed" value=""/>-->
            <!--I D ：<input type="text" id="typeId" value=""/>-->
            <!--分类名称：<input type="text" id="test" value=""/>-->
            <!--<input type="button" value="提交" id="handgoSubmit"/>-->
            <div class="layui-form-item">
                <label class="layui-form-label">ID</label>
                <div class="layui-input-block">
                    <input type="text" id="typeId" name="title" autocomplete="off" placeholder="" class="layui-input layui-disabled"/>
                </div>
            </div>
            <div class="layui-form-item">
            <label class="layui-form-label">分类名称</label>
            <div class="layui-input-block">
                <input type="text" id="typeName" name="title" autocomplete="off" placeholder="请输入分类名称" class="layui-input"/>
            </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-block">
                    <input type="checkbox" id="isClosed" lay-filter="switchTest" lay-text="ON|OFF" lay-skin="switch" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否为父节点</label>
                <div class="layui-input-block">
                    <input type="checkbox" id="isParent" lay-text="ON|OFF" lay-skin="switch" />
                </div>
            </div>
            <div class="layui-form-item">
                <input type="button" id="handgoSubmit" class="layui-btn" lay-submit="" lay-filter="demo1" value="立即提交" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../../js/handgo/types.js"></script>
</body>
</html>