<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en"/>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{../css/layui.css}"/>
    <script src="../js/jquery.min.js"/>
    <meta charset="UTF-8"/>
    <script src="../layui.all.js"></script>
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center;">用户信息</h1>
<button	class="layui-btn layui-btn-normal" onclick="addUser()">添加</button>
<table id="userlist" lay-filter="test"></table>
<script type="text/html" id="toolBar">
       <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
       <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
       <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript" src="../js/handgo/users.js"></script>
</body>
</html>